# braintapper-svelte-componentname

Brief description here


# Usage

## Component Import

Import the components you need in your <script> tag:

```
  import Indent from "braintapper-svelte-componentname";
```

## Example Markup

```
  <componentname/>
```

## Prop Values

### prop

### prop


---

`degit braintappper/braintapper-svelte-component-template#main <componentname>`
`cd <componentname>`
`node github_prep.js <componentname>`
`github_prep.bat`

---

License: MIT